<%- include('../includes/top.ejs') %> <%- include('../includes/navigation.ejs')
%>

<main class="container">
  <h1>Add a note</h1>
  <form action='/add-note' method="POST">
    <div class="form-floating m-2">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Title here"
        name="title"
      />
      <label for="floatingInput">Title</label>
    </div>

    <div class="form-floating m-2">
      <textarea
        class="form-control"
        placeholder="Description here"
        id="floatingTextarea2"
        style="height: 200px"
        name="description"
      ></textarea>
      <label for="floatingTextarea2">Description</label>
    </div>

    <div class="form-floating m-2">
      <input
        class="form-control"
        type="text"
        id="floatingImage"
        name="imageUrl"
        placeholder="Image url"
      />
      <label for="floatingImage"> Image url </label>
    </div>

    <button class="btn btn-primary py-2 m-2" type="submit">Add</button>

    <a href="/" class="btn btn-danger py-2 m-2">Cancel</a>
  </form>
</main>
<%- include('../includes/bottom.ejs') %>
